/*blue:#00A3DD; green: #8ACF17;*/
@import "compass/css3";

body {
	font-family: 'Titillium Web', Verdana, sans-serif;
	color: #707070;
	background: #eaeaea;
}

/*LOGO*/
.logo2 img, .logo3 img {
	max-width: 100%;
	max-height: 3rem;
	display: block;
	margin: 0 auto;
}
.logo2 p,.logo3 p {
	border-top: 2px solid transparent;
}
.logo1 {
	white-space: nowrap;
	color:#00A3DD;

}

.jumbotron {
	background-image: radial-gradient(rgba(19, 96, 103,.6),rgba(19, 97, 103,.6)),url('bg1.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	border-radius: 0;
	background-attachment: fixed;
}


/*BUTTONS*/

.btn-primary {
	border: 2px solid transparent;
    font-size: 1.8rem;
    color: #333;
    background: #ffa700;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
}

.btn-primary:hover {
	background: #fff;
	color: #ffa700;
	border: 2px solid #ffa700;
	transition: .5s;
	transform: scale(1.1);
	}

.btn-secondary {
	background: #8acf17;
	color:#fff;
	font-family: inherit;
	cursor: pointer;
}
.btn-secondary:hover {
	background: #000;
	color:#fff;

}
.btn-success {
	color:#fff;
	background:#8ACF17;
	border: 2px solid transparent;
	cursor: pointer;
	animation: pulse 3s ease infinite alternate;
}
.btn-success:hover {
    color: #8ACF17;
    background: #fff;
    text-decoration: : none !important;
    border: 2px solid #8ACF17;
    animation-play-state: paused;
}

/*INFO*/
.text-info {
	color: #00A3DD !important;
}

.info2 {
	border-bottom: 5px solid #8acf17;

}

.info1 img {
	display: inline-block;
	margin: 1%;
	max-width: 100%;
}
.info1 h5 {
	text-align: center;
	font-size: 2rem;
	color: #00A3DD;
	padding: 5px; 
}
.info1 h3 {
	font-size: 2rem;
	color: #00A3DD;
	padding: 5px 0; 
}

.info3 {
	/*background: #00A3DD;*/
	background-image: radial-gradient(rgba(19, 96, 103,.6),rgba(19, 97, 103,.6)),url('bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
.info3 i.fa{
	color: #fff;
	font-size: 3rem;
	padding-bottom: 2rem;
}

.img-thumbnail {
	border: 1px solid #8ACF17;
}
.img-thumbnail img {
	display:block;
	margin: .2rem auto;
	max-width: 90%;
}

.left1 p {
	font-size: 1.1rem;
}
.about img {
	max-width: 90%;
	display: block;
	margin: auto;
}
/*ICONS*/

.icon {
	margin: 2% auto;
}

.icon img {
	max-width: 90%;
	display: block;	
	margin:0 auto;

}
.icon img:hover, .step:hover {
	transition: .8s;
	transform: scale(.8)
}
.info1 i.fa {
	font-size: 3rem;
	color: #8ACF17;
}
.icons1 {
	padding: 0 0.1rem;
	float: left;
    min-width: 4rem;
}
.icons2 {
	border-left: 4px solid #8ACF17;
	float: left;
}
.icons2 p{

	margin: .1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    white-space:nowrap;
}

.text-success {
	color: #8ACF17 !important;
}

.info3 p {
	font-size: 1.2rem;
}
/*FORM*/

.form-space {
	background: #00A3DD;
}
.form-space img {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.descr2 {
	min-height:9rem;
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 2500ms;
	transform-origin:50% 80%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse_animation {
	0% { transform: scale(1);}
	50% { transform: scale(.9);}
	100% { transform: scale(1); }
}

@keyframes pulse {
  0%, 100% {
    background-color: #00A3DD;
  }
  50% {
    background-color: #8ACF17;
  }
}

.prgbr {
 margin: 0 auto;
  width: 100%;
  height: .4rem;
  background: #fff;
  animation: pulse 3s ease infinite alternate;
}

/*MEDIA*/

@media (min-width: 100px) and (max-width: 640px) {
	.icon img {
		max-width: 100%;
	}
	.right1 {
		display:none;
	}
	.left1 {
		width: 100%;
	}
	.info2 {
		display: none;
	}
	.logo1 {
		text-align:center;
	}
	.left, .right {
		width: 100%;
	}
	.info3 p {
	font-size: .9rem;
	}
	.logo2, .logo3 {
		width: 50%;
	}
	.icon_s {
		width: 50%;
		float:left;
	}
	.icons2 p, .icons1, {
		font-size: .9rem;
	}
	.info1 i.fa {
		min-width: 2rem;
		font-size: 2rem;
	}
}

